.select-list {
   display: flex;
   flex-direction: column;
   padding: 0 13px;
   position: relative;
}


span {
   border: 1px solid transparent;
}

.select-list span {
   margin: 7px 0;
   font-size: 2.8rem;  
   position: relative;
}

.focused {
   border: 1px solid white;
   z-index: 10;
}

.range-1 {
   color: #B0B0B0;
}

.range-2 {
   color: #505050;
}

.selected {
   background-color: grey;
   width: 200%; 
   height: 200%; 
   inset: -50%;
   position: absolute; 
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: -1; 
   border-radius: 6px;
}

