.root {
   display: flex;
   align-items: center;
   justify-content: center;
}

button {
   width: 42px;
   height: 42px;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   background-color: rgb(21, 214, 21);
   border: none;
   outline: 4px solid rgb(32, 173, 32);
   margin: 0 2em;
}


svg {
   width: 21px;
   height: 21px;
}